@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .btn-logout {
        color: $common-text-color;
        line-height: 40px;
        height: 40px;
        padding: 0 10px;
        &:hover {
            background-color: darken($colormain, 5);
        }
        i {
            font-size: $base-size + 1px;
        }
    }
    
    
}
.languages{
    display:flex;
    justify-content: flex-end !important; 
    align-items:center;
    .welcome{
        margin-right:10px;
    }
    .language-vi{
        cursor: pointer;
        opacity: 0.2;
        &.active{
            opacity: 1;
            span{
                color: #4c6ef5;   
            }
        }
        &:hover{
            opacity: 1;
        }                
    }
    .language-en{
        margin-right: 15px;
        margin-left: 10px;
        opacity: 0.2;
        cursor: pointer;
        margin: 0 10px;
        
        &.active{
            opacity: 1;
            span{
                color: #f73827;
            }
        }
        &:hover{
            opacity: 1;
        }
        
    }
}