.manage-specialty-container{
    padding: 0 15px;

    .ms-title{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-top: 15px;
        color: #0071ba;
    }

    .add-new-specialty{
        .btn-save-specialty{
            border: none;
            background: #007bff;
            padding: 8px 5px;
            min-width: 75px;
            border-radius: 3px;
            margin: 15px 0;
            color: white
        }
    }
}